body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  color: rgb(235, 70, 215);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #00B7FF;
}

/* lesson CSS for login */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}