body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(21, 4, 24);
  color: rgb(235, 70, 215);
  font-family: 'Rubik', sans-serif;
}

a {
  color: rgb(173, 41, 213);
  text-decoration: none;
  font-size: 2vmin;
}

p {
  margin-top: .5vmin;
  font-size: 2vmin;
}

nav {
  background-color: rgb(40, 9, 47);
}

.title {
  color: rgb(226, 187, 237);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

button {
  background-color: rgb(193, 116, 189);
  color: rgb(86, 21, 102);
  border-style: solid;
  border-color: rgb(160, 83, 233);
  border-radius: 5px;
  font-size: 2vmin;
}

button.like {
  background: url(https://flyclipart.com/thumb2/purple-facebook-like-icon-744456.png);
}

article {
  color: rgb(218, 134, 213);
  margin: 10px;
}

.post {
  background-color: rgb(40, 9, 47);
  border: 2px solid;
  border-color: rgb(173, 41, 213);
}

textarea {
  height: 150px;
  white-space: pre-wrap;
  color: rgb(250, 250, 230);
  font-family: 'PT Mono', monospace;
}

input {
  color: rgb(250, 250, 230);
  font-family: 'PT Mono', monospace;
}

.postContainer {
  border: 2px;
  border-style: solid;
  border-color: rgb(218, 144, 213);
  border-radius: 20px;
  margin: 0 auto;
  width: 80vw;
}

label {
  color: rgb(226, 187, 237);
  font-size: 2vmin;
}

.input-field {
  background-color: rgb(28, 7, 33);
}

.post-contents {
  padding: 10px 10px 0 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: rgb(250, 250, 230);
  font-family: 'PT Mono', monospace;
}

.content-background {
  background-color: rgb(28, 7, 33);
}

.comment-contents {
  padding: 10px 10px 0 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: rgb(250, 250, 230);
  font-family: 'PT Mono', monospace;
}

.dropdown-toggle {
  background-color: rgb(193, 116, 189);
  color: rgb(250, 250, 230);
}

.dropdown-toggle:hover {
  background-color: rgb(140, 82, 136);
}

#edit-dropdown-button {
  color: rgb(173, 41, 213);
}

.comment-text-area {
  width: 73.5vw;
  height: 30vh;
  white-space: pre-wrap;
}

#landing-logo {
  width: 80vw;
  margin-top: -15vh;
}

#landing-login {
  margin-top: -15vh;
  font-size: 5vmin;
  font-family: 'PT Mono', monospace;
  text-align: center;
}

.edit-comment {
  width: 73.5vw;
  height: 20vh;
  margin-bottom: -4px;
  white-space: pre-wrap;
}

.comment-seperator {
  border-top: .5min;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: solid;
  border-color: darkgrey;
}

@media only screen and (max-width: 670px)  {
  #landing-login {
    font-size: 8vmin;
    margin-top: -10vmin;
  }

  nav {
    height: 15vmin;
  }

  #nav-logo {
    height: 12vmin;
  }

  #landing-logo {
    width: 80vmin;
    margin-top: -5vh;
  }

  .postContainer {
    width: 80vw;
  }

  #navbarSupportedContent {
    background-color: rgb(40, 9, 47);
  }

  .post-contents {
    font-size: 3vmin;
  }

}