<%- include('../partials/header'); %>
<form action="/posts/all" method="POST">
  <label>Title <input type="text" name="title"></label><br><br>
  <label>const myProblem = { ....<textarea name="contents"></textarea></label><br><br>
  <button type="submit">CREATE POST</button>
</form>
<%- include('../partials/footer'); %>