<%- include('../partials/header'); %>
<div class="container mt-4 post postContainer">
  <form action="/posts/all" method="POST">
    <div class="row">

      <div class="col-md-8 mx-auto">
        <h2 class="mt-2" style="text-align: center;">addPost</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto justify-content-center">
        <input type="text" class="post input-field" name="title" placeholder="title"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <textarea name="contents" class="post input-field" placeholder="const myProblem = { ..." style="width: 100%;"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <button class="mb-2" type="submit">CREATE POST</button>
      </div>
    </div>
      <!-- <div class="col-lg-2"></div> -->
  </form>
</div>
<%- include('../partials/footer'); %>
