<%- include('../partials/header'); %>

    <article>
    <div>Title: </div>
    <div>
      <%= post.title %>
    </div>
    <div> contents: </div>
    <div>
      <%= post.contents %>
    </div>
    
    </article>
<%- include('../partials/footer'); %>